* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  padding: 15px 200px;
}

.navbar a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 700;
}

.navbar ul {
  display: flex;
  gap: 15px;
  list-style-type: none;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  background-color: #1F2937;
  padding: 100px 200px;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  flex-basis: 500px;
}

.hero-main {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 700;
}

.hero-text {
  color: #E5E7EB;
  font-size: 18px;
}

.btn {
  flex: 0;
}

.sign-up-btn {
  background-color: #3882F6;
  border: none;
  color: #F9FAF8;
  font-weight: 700;
  border-radius: 9px;
  padding: 8px 32px;
  cursor: pointer;


  transition: background-color 0.2s linear;
}

.sign-up-btn:hover {
  background-color: #71a0ed;
}

.hero-image {
  display: flex;
  align-items: center;
}

.hero-image img {
  width: 700px;
  height: auto;
}

.information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 70px 0 140px 0;
}

.info {
  font-size: 36px;
  font-weight: 700;
  color: #1F2937;
}

.info-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}

.info-card {
  flex-basis: 200px;
}

.info-text {
  text-align: center;
  color: #474a4e;
  margin-top: 5px;
}

.info-card img {
  width: 200px;
  height: 200px;
  border-radius: 10%;
}

.quote-container {
  background-color: #E5E7EB;
  display: flex;
  justify-content: center;
  padding: 140px 0;
}

.quote {
  display: flex;
  flex-direction: column;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
  align-self: center;
}

.quote-author {
  align-self: flex-end;
  font-weight: 700;
  font-size: 24px;
}

.call-to-action-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 80px;
}

.call-to-action-container .sign-up-btn {
  border: 2px solid #F9FAF8;
}

.call-to-action {
  background-color: #3882F6;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1200px;
  height: 150px;
}

.call-to-action-header {
  font-weight: 700;
  font-size: 24px;
  color:#F9FAF8
}

.call-to-action-text {
  font-size: 18px;
  color: #E5E7EB;
}

footer {
  background-color: #1F2937;
  color:#E5E7EB;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}